<a href="https://colab.research.google.com/github/amrutha-m-sajeev/covid-data-analysis/blob/main/covid_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

**Read the data**

In [5]:
df=pd.read_csv('/content/owid-covid-data.csv')
df
#df:will show you whole data set

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,145.000,9096.0,10.0,19.714,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,143.857,9108.0,12.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,128.714,9150.0,42.0,14.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***View the Data***

In [6]:
#df.shape:will show you several rows and coloumns in dataset
df.shape

(29683, 67)

In [7]:
#df.head():it will show the frist 5 rows as default.if you want to return the frist 10 rows then insert a value in parenthesis
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [8]:
#df.describe():it will show the basic summary of data such as count,min,max,unique values
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.957900e+04,2.955100e+04,29411.000000,2.809000e+04,28084.000000,27939.000000,29579.000000,29551.000000,29411.000000,28090.000000,...,16793.000000,12291.000000,21079.000000,27462.000000,23223.000000,2.968200e+04,769.000000,769.000000,769.000000,769.000000
mean,3.826706e+06,8.832086e+03,8864.154157,4.596775e+04,77.872810,78.233539,83558.383285,193.212540,193.886864,767.899960,...,33.484625,61.035552,3.536367,75.634987,0.764358,2.473033e+08,8628.256883,9.330377,14.406255,1144.192182
std,2.042454e+07,4.981194e+04,49318.209612,2.005407e+05,530.748461,404.681216,129652.084990,729.040579,501.194367,848.641574,...,12.629057,30.688814,2.585454,5.909461,0.118435,9.260110e+08,10974.665477,12.559797,28.198886,1532.533776
min,1.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.001000,...,12.300000,11.035000,0.500000,61.150000,0.511000,1.587700e+04,-8805.400000,-10.980000,-55.330000,-1045.504300
25%,7.413000e+03,0.000000e+00,7.857000,1.260000e+02,0.000000,0.000000,2434.380500,0.000000,2.980500,54.258000,...,20.400000,26.664000,1.300000,73.000000,0.716000,2.816460e+05,20.300001,0.390000,-0.130000,13.463160
50%,5.853200e+04,5.200000e+01,80.143000,1.053000e+03,0.000000,1.143000,21804.476000,8.181000,27.737000,358.431500,...,31.400000,79.807000,2.900000,76.670000,0.778000,8.939617e+06,5777.399400,8.020000,6.810000,732.834840
75%,5.130030e+05,7.230000e+02,935.143000,8.683000e+03,10.000000,10.571000,97110.678000,111.562000,169.497500,1400.530750,...,44.700000,88.469000,5.000000,79.190000,0.845000,3.558900e+07,16167.599000,11.300000,18.450000,1738.523900
max,2.100816e+08,1.100819e+06,884662.857000,1.620395e+06,60536.000000,10938.143000,653676.103000,50273.547000,9196.620000,3135.799000,...,52.100000,97.164000,11.000000,83.730000,0.944000,4.721383e+09,58269.504000,56.240000,245.440000,8109.918000

**Dropping the column:**

In [9]:
#df.drop():It drop the specific column or row of a dataset.We will look at how to drop a column
df.drop(['new_cases_smoothed'],axis=1)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,0.122,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,0.122,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,0.122,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,0.122,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,0.122,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,9096.0,10.0,19.714,62785.253,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,9108.0,12.0,18.143,62826.076,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,9108.0,0.0,18.143,62826.076,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,9108.0,0.0,18.143,62826.076,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,9150.0,42.0,14.143,62900.607,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For multiple deletion of column

In [10]:
df.drop(['new_deaths_smoothed','new_cases_per_million','total_cases_per_million'],axis=1)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,145.000,9096.0,10.0,19.714,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,143.857,9108.0,12.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,128.714,9150.0,42.0,14.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Renaming the column name:**

In [11]:
#df.rename():We can rename column name,row name,or index.In our data set we will rename the coloumn
df.rename(columns={'date': 'Date','location':'Country','continent': 'Continent','iso_code':'ISO_code'},inplace=True)
df

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,145.000,9096.0,10.0,19.714,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,143.857,9108.0,12.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.40,0.780,3233530.0,NaN,NaN,NaN,NaN
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,128.714,9150.0,42.0,14.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**List the continent name:**

In [12]:
Continent=list(df.Continent.unique())
Continent

['Asia', nan, 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

**Finding mising values**

In [13]:
df.isna().sum()

ISO_code                                       0
Continent                                   2220
Country                                        0
Date                                           0
total_cases                                  104
                                           ...
population                                     1
excess_mortality_cumulative_absolute       28914
excess_mortality_cumulative                28914
excess_mortality                           28914
excess_mortality_cumulative_per_million    28914
Length: 67, dtype: int64

filling the missing value

In [14]:
df1=df.fillna('missing')
df1

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,missing,missing,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,missing,missing,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,missing,missing,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,missing,missing,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,missing,missing,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,145.0,9096.0,10.0,19.714,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,143.857,9108.0,12.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,128.714,9150.0,42.0,14.143,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing

In [15]:
df1.isna().sum()

ISO_code                                   0
Continent                                  0
Country                                    0
Date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

**Using Groupby**

In [16]:
#df.groupby():The groupby command allows us to divide our data into different groups and perform our data analysis
df2 = df.groupby(['Date','Country',])[['Date','Country','total_cases','total_deaths','total_vaccinations']].sum().reset_index()
df2

,Date,Country,total_cases,total_deaths,total_vaccinations
0,2020-01-01,Argentina,0.0,0.0,0.0
1,2020-01-02,Argentina,0.0,0.0,0.0
2,2020-01-03,Argentina,0.0,0.0,0.0
3,2020-01-04,Argentina,0.0,0.0,0.0
4,2020-01-05,Argentina,0.0,0.0,0.0
...,...,...,...,...,...
29678,2023-02-15,Bermuda,18791.0,159.0,0.0
29679,2023-02-15,Bhutan,62611.0,21.0,0.0
29680,2023-02-15,Bolivia,1191492.0,22356.0,0.0
29681,2023-02-15,Bonaire Sint Eustatius and Saba,11797.0,41.0,0.0
29682,2023-02-16,Austria,0.0,0.0,0.0

In [17]:
#replacing missing value
df1['total_deaths'].replace({'missing':0},inplace=True)
df1

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,missing,0.0,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,missing,0.0,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,missing,0.0,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,missing,0.0,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,missing,0.0,missing,missing,...,missing,37.746,0.5,64.83,0.511,41128772.0,missing,missing,missing,missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29678,BIH,Europe,Bosnia and Herzegovina,2021-05-20,203018.0,171.0,145.0,9096.0,10.0,19.714,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29679,BIH,Europe,Bosnia and Herzegovina,2021-05-21,203150.0,132.0,143.857,9108.0,12.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29680,BIH,Europe,Bosnia and Herzegovina,2021-05-22,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29681,BIH,Europe,Bosnia and Herzegovina,2021-05-23,203150.0,0.0,143.857,9108.0,0.0,18.143,...,47.7,97.164,3.5,77.4,0.78,3233530.0,missing,missing,missing,missing
29682,BIH,Europe,Bosnia and Herzegovina,2021-05-24,203391.0,241.0,128.714,9150.0,42.0,14.143,...,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing

Finding total countires where total_deaths is greater than 1000000

In [18]:
df3=df1[df1['total_deaths']>1000000]
countries=df3['Country'].unique()
len(countries)

1

In [19]:
country_deaths_greaterthan_1000000=list(df3.Country.unique())
country_deaths_greaterthan_1000000

['Asia']